<!DOCTYPE html>
<html lang="en">
    <%- include ("head") %>
<body>
    <%- include ("header") %>
    <div class="logout">
        <a href="/logout">Log Out</a>
        <h2>Welcome </h2>
        <div class="userInfo">
            <h4>First Name: <%= firstName %></h4>
            <h4>Last Name: <%= lastName %></h4>
            <h4>Email: <%= email %></h4>
            <h4>Password: Not Today!</h4>
        </div>
    </div>
</body>
</html>